[Desktop Entry]
Comment=
Name=EQuilibrium New Experience
X-KDE-PluginInfo-Author=Zlatko Barnak
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=equilibrium@barnak.co.rs
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3
X-KDE-PluginInfo-Name=EQuilibriumNewExperience
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=lt-stand.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
